{% if field.type == 'group'%}
	<div class="form-group wrapper">
		{% include 'BRSCoreBundle:Widget:form/fields.html.twig' with {'fields' : field.fields} %}
	</div>
{% elseif field.type == 'hidden' %}
	{{ form_widget(form[key]) }}
{% else %}
	<div class="field" id="form_field_{{ key }}">
	    {{ form_label(form[key]) }}
	    {{ form_errors(form[key]) }}
	    {{ form_widget(form[key]) }}
	</div>
{% endif %}
