{% extends 'BRSCoreBundle:Widget:base.html.twig' %}
{% block class %}list-widget{% endblock %}
{% block prewidget %}
{% if search_widget is defined %}<div class="pre-widget">{{ search_widget | raw }}</div>{% endif %}
{% endblock %}
{% block widget %}
<form id="{{route}}_{{name}}_form" name="{{route}}_{{name}}_form" action="{{ path(route, { 'name':name, 'route':'post' }) }}" method="post">
	<div class="widget-header">
		<h2>{{ name | trans }}:</h2>
		<div class="paging">
			Found: <span class="total">{{ total }}</span>
			Page: <span class="current-page">{{ page }}</span> of <span class="page-count">{{ pages }}</span>
			Go to page: 
			<span class="pages">
				{% for i in 1..pages %}
					<a class="page" href="?{{ name }}[page]={{ i }}">{{ i }}</a>
				{% endfor %}
			</span>
		</div>
	</div>
	<div class="list">
		
		{% block widget_toolbar %}
		{% endblock %}
		
		<div class="list-actions wrapper">
			
			{% block pre_list_actions %}
			{% endblock %}
			
			{% block list_actions %}
			<div class="btn-group list-action">
				<button class="btn btn-small" name="select_all" data-route="{{ path(route, { 'name':name, 'route':'select_all' }) }}">{{ 'Select All' | trans }}</button>
				<button class="btn btn-small" name="select_none" data-route="{{ path(route, { 'name':name, 'route':'select_none' }) }}">{{ 'Select None' | trans }}</button>
			</div>
			
			{% if reorder_field %}
				<button class="btn btn-small list-action" data-route="{{ path(route, { 'name':name, 'route':'reorder' }) }}" name="reorder">{{ 'Set Display Order' | trans }}</button>
			{% endif %}
			
			<button class="btn btn-small btn-danger list-action" name="delete_selected" data-route="{{ path(route, { 'name':name, 'route':'delete_selected' }) }}"><i class="icon-trash icon-white"></i> {{ 'Delete' | trans }}</button>
			{% endblock %}
		</div>
		<table>
			<thead>
				{% if selectable %}
					<th class="select" style="width:25px;"></th>
				{% endif %}
				<th class="reorder-header {% if not reordering %}hidden{% endif %}" style="width:25px;"></th>
				{% for key, field in list_fields %}
					{% if field.type != 'hidden' %}
						<th style="{% if field.width is defined %}width:{{ field.width }}px;{% endif %}" {% if field.nonentity is not defined %} class="{% if order_by == key %}selected{% endif %}" data-field="{{ key }}"{% endif %}>{% if field.nonentity is not defined %}<a href="?{{ name }}[order]={{ key }}">{{ key | trans | title }}</a>{% endif %}</th>
					{% endif %}
				{% endfor %}
			</thead>
			<tbody>
				{% include 'BRSCoreBundle:Widget:list/rows.html.twig' %}
			</tbody>
		</table>
	</div>
</form>
{% endblock %}
{% block widget_js %}
<script language="JavaScript">
	
	var list = new ListWidget({
		name:'{{ name }}', 
		route:'{{ route }}', 
		action:'{{ path(route, { 'name':name, 'route':'' }) }}',
		total: {{ total }},
		page: {{ page }},
		pages: {{ pages }},
		page_size: {{ page_size }},
	});
	
	{% if reordering %} 
		
		list.enable_reordering();
		
	{% endif %}
	
</script>
{% endblock %}