{% if field.route is defined %}
	
	{% set params = {} %}

	{% for key, param in field.route.params %}
		{% if key is numeric %}
			{% set params = update(params, param, item[param]) %}
		{% else %}
			{% set params = update(params, key, item[param]) %}
		{% endif %}
	{% endfor %}
	
{% endif %}
<button class="btn {% if field.class is defined %}{{ field.class }}{% endif %} btn-large btn-{{ key }}" name="{{ key }}" value="1" {% if field.route is defined %}data-route="{{ field.route.name }}" data-href="{{ path(field.route.name, params) }}"{% endif %}>{{ key | trans | title }}</button>