{% if field.route is defined %}
	
	{% set params = {} %}

	{% for param in field.route.params %}
		{% set params = update(params, param, item[param]) %}
	{% endfor %}
	
{% endif %}
<button class="button {% if field.class is defined %}{{ field.class }}{% endif %} button-{{ key }}" name="{{ key }}" value="1" {% if field.route is defined %}data-route="{{ field.route.name }}" data-href="{{ path(field.route.name, params) }}"{% endif %}>{{ key | trans | title }}</button>