{% set params = {} %}

{% for param in field.route.params %}
	{% set params = update(params, param, item[param]) %}
{% endfor %}

<a class="{{ field.class }}" {% if field.nav is defined %}data-route="{{ field.route.name }}"{% endif %} href="{{ path(field.route.name, params) }}">{% if field.label is defined %}{{ field.label | trans }}{% else %}{{ item[key] }}{% endif %}</a>